<div class="mx-auto max-w-6xl px-4 py-6">

  <div class="flex justify-between items-center mb-6">
  <div>
   <h1 class="text-2xl font-bold text-gray-900">
  
  <span *ngIf="book()" class="text-blue-600">
     {{ book()?.title }}
  </span>
</h1>
    <p class="text-sm text-gray-600">
      Pregled svih publikacija za odabranu knjigu.
    </p>
  </div>

  <div class="flex items-center gap-3">

  <!-- OSVJEŽI -->
  <button
    (click)="refresh()"
    class="px-4 py-2 rounded-xl border hover:bg-gray-50"
  >
    Osvježi
  </button>

  <!-- DODAJ -->
  <button
    (click)="openAdd()"
    class="px-4 py-2 rounded-xl bg-blue-600 text-white hover:bg-blue-700"
  >
    Dodaj publikaciju
  </button>

  <!-- SIZE -->
  <select
    class="border px-3 py-2 rounded-xl"
    (change)="onSizeChange($any($event.target).value)"
  >
    <option [value]="5">5</option>
    <option [value]="10" selected>10</option>
    <option [value]="15">15</option>
  </select>

</div>

</div>
  <!-- LOADING -->
  <div *ngIf="isLoading()" class="text-gray-600">
    Učitavanje...
  </div>

  <!-- ERROR -->
  <div *ngIf="isError()" class="p-4 bg-red-50 border border-red-200 text-red-700 rounded-xl">
    {{ errorMessage() }}
  </div>

  

  <div *ngIf="successMessage()"
     class="mb-4 p-4 bg-green-50 border border-green-200 text-green-700 rounded-xl">
  {{ successMessage() }}
</div>

<div class="mb-4 flex gap-2">
  <input
    type="text"
    placeholder="Pretraži po ISBN broju"
    class="px-4 py-2 border rounded-xl w-80"
    (input)="onQueryChange($any($event.target).value)"
  />

 
</div>

  <!-- TABELA -->
  <div *ngIf="!isLoading() && !isError()" class="bg-white rounded-2xl shadow overflow-hidden">

    <table class="w-full text-sm">
      <thead class="bg-gray-50 text-gray-600">
        <tr>
          <th class="text-left px-4 py-3">ISBN</th>
          <th class="text-left px-4 py-3">Izdanje</th>
          <th class="text-left px-4 py-3">Izdavač</th>
          <th class="text-left px-4 py-3">Godina</th>
          <th class="text-left px-4 py-3">Jezik</th>
          <th class="text-right px-4 py-3"></th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let p of publications()"
          class="border-t hover:bg-gray-50 transition"
        >
          <td class="px-4 py-3 font-medium text-gray-900">
            {{ p.isbn }}
          </td>

          <td class="px-4 py-3">
            {{ p.edition }}
          </td>

          <td class="px-4 py-3">
            {{ p.publisher }}
          </td>

          <td class="px-4 py-3">
            {{ p.publishedYear }}
          </td>

          <td class="px-4 py-3">
            {{ p.language }}
          </td>

          <td class="px-4 py-3 text-right">
            <button
              (click)="openInstances(p)"
              class="px-4 py-2 rounded-xl bg-blue-600 text-white hover:bg-blue-700"
            >
              Pogledaj primjerke
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- PRAZNO -->
    <div *ngIf="publications().length === 0" class="p-6 text-center text-gray-500">
      Nema dostupnih publikacija.
    </div>

  </div>
</div>

<div class="flex justify-between items-center mt-4 text-sm text-gray-600">

  <div>
    Ukupno: {{ totalElements }} | Stranica {{ page + 1 }} / {{ totalPages }}
  </div>

  <div class="flex gap-2">

    <button
      (click)="prevPage()"
      [disabled]="page === 0"
      class="px-3 py-1 rounded-lg border disabled:opacity-40"
    >
      Prethodna
    </button>

    <button
      (click)="nextPage()"
      [disabled]="page >= totalPages - 1"
      class="px-3 py-1 rounded-lg border disabled:opacity-40"
    >
      Sledeća
    </button>

  </div>

</div>


<div *ngIf="showAddModal()" class="fixed inset-0 z-50">
  <div class="absolute inset-0 bg-black/40" (click)="closeAdd()"></div>

  <div class="relative mx-auto mt-16 w-[92%] max-w-xl bg-white rounded-2xl shadow-xl p-6">

    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold">Dodaj novu publikaciju</h2>
      <button (click)="closeAdd()">✕</button>
    </div>

    <div *ngIf="addError()" class="mb-3 text-red-600 text-sm">
      {{ addError() }}
    </div>

    <form [formGroup]="addForm" (ngSubmit)="submitAdd()" class="space-y-4">

      <input
  class="w-full border px-3 py-2 rounded-xl"
  placeholder="ISBN"
  formControlName="isbn"
/>

<div *ngIf="addForm.controls.isbn.touched && addForm.controls.isbn.invalid"
     class="text-red-500 text-xs mt-1">

  <div *ngIf="addForm.controls.isbn.errors?.['required']">
    ISBN je obavezan.
  </div>

  <div *ngIf="addForm.controls.isbn.errors?.['pattern']">
    ISBN mora imati tačno 13 cifara.
  </div>

</div>

      <input class="w-full border px-3 py-2 rounded-xl"
       placeholder="Izdavač"
       formControlName="publisher" />

<div *ngIf="addForm.controls.publisher.touched && addForm.controls.publisher.invalid"
     class="text-red-500 text-xs mt-1">
  Izdavač je obavezan.
</div>

      <input type="number"
       class="w-full border px-3 py-2 rounded-xl"
       placeholder="Godina"
       formControlName="publishedYear" />

<div *ngIf="addForm.controls.publishedYear.touched && addForm.controls.publishedYear.invalid"
     class="text-red-500 text-xs mt-1">
  Godina je obavezna.
</div>

      <input class="w-full border px-3 py-2 rounded-xl"
       placeholder="Izdanje"
       formControlName="edition" />

<div *ngIf="addForm.controls.edition.touched && addForm.controls.edition.invalid"
     class="text-red-500 text-xs mt-1">
  Izdanje je obavezno.
</div>

     <input class="w-full border px-3 py-2 rounded-xl"
       placeholder="Jezik"
       formControlName="language" />

<div *ngIf="addForm.controls.language.touched && addForm.controls.language.invalid"
     class="text-red-500 text-xs mt-1">
  Jezik je obavezan.
</div>

      <div class="pt-2 flex gap-3">
        <button
          type="button"
          (click)="closeAdd()"
          class="flex-1 px-4 py-2 rounded-xl border border-gray-300 hover:bg-gray-50"
          [disabled]="addLoading()">
          Otkaži
        </button>
        <button
          type="submit"
          class="flex-1 px-4 py-2 rounded-xl bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-60"
          [disabled]="addLoading()">
          {{ addLoading() ? 'Dodavanje...' : 'Dodaj' }}
        </button>
      </div>
    </form>
  </div>
</div>