<div *ngIf="!isLoading() && !isError()" class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">

  <div *ngFor="let b of books()" class="bg-white rounded-2xl shadow-md p-5 flex flex-col justify-between hover:shadow-lg transition">
  <div class="mb-3 space-y-1">
    <!-- GORNJI DIO -->
    <div>
      <!-- NASLOV -->
      <h2 class="text-xl font-bold text-gray-900">
        {{ b.title }}
      </h2>

      <!-- AUTORI -->
      <p class="text-base text-gray-700 mt-1">
        {{ b.authors.join(', ') }}
      </p>

      <!-- KATEGORIJA -->
      <p class="text-sm text-gray-600 mt-3">
        <span class="font-medium">Kategorija:</span> {{ b.category }}
      </p>

      <!-- OPIS -->
      <p class="text-sm text-gray-700 mt-2 line-clamp-3">
        <span class="font-medium">Kratak opis:</span>
        {{ b.description }}
      </p>
    </div>

  <!-- DUGMAD -->
  <div class="flex gap-2 mt-4">
    <button
      (click)="openDetails(b)"
      class="flex-1 px-4 py-2 rounded-xl border border-gray-300 hover:bg-gray-50"
    >
      Detalji
    </button>

    <button
      (click)="openPublications(b)"
      class="flex-1 px-4 py-2 rounded-xl bg-blue-600 text-white hover:bg-blue-700"
    >
      Publikacije
    </button>
  </div>
</div>
</div>